## Using Surprise to build recommender systems

In the exercise, we are going to build a recommender system using Surprise.

* After spending a decent amount of time on web trying to search for the best methods to apply to make a recommender system using surprise. I found [*THIS*](https://towardsdatascience.com/building-and-testing-recommender-systems-with-surprise-step-by-step-d4ba702ef80b) the best one. It has everything you need to know.

* For this exercise, you'll be using the exact same methodology on the Movie dataset shared in the folder with you. This tutorial that I shared is on some `books` dataset. But we'll be using movie dataset.

### Errors you may encounter
* You may encounter some errors because the tutorial doesn't explain how to import packages from surprise.
* So I have imported all the packages you'll require to finish this exercise.

### What will be tricky
* If you follow the tutorial, and change code where necessary, you'll not face any problem.
* If you face any problem with importing the dataset with Surprise, feel free to ping me, I'll show you how can you do that.

### What should be the results?
* I've shared sample results at the bottom of the notebook. You'll have similar results hopefully.

# Note:
* While testing different models, *`SVDpp`* was taking too much time, so I skipped it. I suggest you do the same

In [1]:
from surprise import Reader, Dataset, SVD
import pandas as pd
from surprise.model_selection.validation import cross_validate
from surprise.model_selection import train_test_split
from surprise import accuracy

In [17]:
best_predictions

,uid,iid,rui,est,details,Iu,Ui,err
11557,194,31,3.0,2.999987,"{'actual_k': 40, 'was_impossible': False}",227,103,0.000013
14115,450,392,4.0,3.999985,"{'actual_k': 40, 'was_impossible': False}",387,44,0.000015
18129,393,365,3.0,3.000054,"{'actual_k': 28, 'was_impossible': False}",332,28,0.000054
17156,546,236,4.0,3.999916,"{'actual_k': 34, 'was_impossible': False}",35,34,0.000084
7311,741,83,4.0,3.999908,"{'actual_k': 40, 'was_impossible': False}",67,119,0.000092
13397,829,86,4.0,4.000098,"{'actual_k': 40, 'was_impossible': False}",37,107,0.000098
9754,421,709,4.0,3.999854,"{'actual_k': 40, 'was_impossible': False}",35,75,0.000146
10636,882,470,4.0,3.999802,"{'actual_k': 40, 'was_impossible': False}",88,78,0.000198
20691,314,318,5.0,5.000200,"{'actual_k': 40, 'was_impossible': False}",172,207,0.000200
13816,259,173,4.0,3.999722,"{'actual_k': 40, 'was_impossible': False}",29,240,0.000278

In [18]:
worst_predictions

,uid,iid,rui,est,details,Iu,Ui,err
20353,310,1386,1.0,4.351586,"{'actual_k': 4, 'was_impossible': False}",9,4,3.351586
8145,148,127,1.0,4.354877,"{'actual_k': 40, 'was_impossible': False}",43,262,3.354877
2737,89,137,1.0,4.414428,"{'actual_k': 40, 'was_impossible': False}",46,118,3.414428
7052,186,12,1.0,4.432172,"{'actual_k': 40, 'was_impossible': False}",59,195,3.432172
1562,131,137,1.0,4.434404,"{'actual_k': 40, 'was_impossible': False}",17,118,3.434404
9743,887,183,1.0,4.480603,"{'actual_k': 40, 'was_impossible': False}",117,203,3.480603
9161,534,93,1.0,4.482194,"{'actual_k': 40, 'was_impossible': False}",54,75,3.482194
2707,405,842,5.0,1.504219,"{'actual_k': 19, 'was_impossible': False}",552,19,3.495781
1142,286,285,1.0,4.575609,"{'actual_k': 40, 'was_impossible': False}",214,104,3.575609
18141,239,64,1.0,4.672383,"{'actual_k': 40, 'was_impossible': False}",125,189,3.672383