Your job is to:
1- Write a Python script, which will concatinate/combine all the .csv files into a single pandas data frame.
2- Encode Male for 1, female for 2. \[Gender column\]
3- Encode 1,2 for Location 1, Location 2, or Facility A, Facility B \[Location column\]
4- Encode 1,2,3,4 for Antenna column as well.
5- Look for missing values, deal with missing values if any.
6- Look for duplicates and drop them
7- Name the columns as -> \['id', 'gender', 'location', 'person', 'time', 'g_frontal', 'g_vertical', 'g_lateral', 'antenna', 'rssi', 'phase', 'label'\]

Note: Keep in mind that you don't have to load every file in a dataframe and then concatinate, figure out a way to do it without loading every file in a dataframe

In [5]:
import pandas as pd
import numpy as np

# 1 Concat all files into 1 df

In [1]:
# import glob

# path = r'C:\Users\delchain_default\Documents\GitHub\Python-Notes\Exercises - Qasim\pandas projects\rustic_heights_files\files' 
# all_files = glob.glob(path + "/*.csv")

# li = []

# for file in all_files:
#     df = pd.read_csv(file, index_col=None)
#     li.append(df)

# frame = pd.concat(li, ignore_index=True)

# # 40539 rows Ã— 248 columns

In [6]:
for file in glob.glob("*.csv"):
    print(file)

file_1.csv
file_10.csv
file_11.csv
file_12.csv
file_13.csv
file_14.csv
file_15.csv
file_16.csv
file_17.csv
file_18.csv
file_19.csv
file_2.csv
file_20.csv
file_21.csv
file_22.csv
file_23.csv
file_24.csv
file_25.csv
file_26.csv
file_27.csv
file_28.csv
file_29.csv
file_3.csv
file_30.csv
file_4.csv
file_5.csv
file_6.csv
file_7.csv
file_8.csv
file_9.csv

In [7]:
import glob


df = pd.concat((pd.read_csv(file, header=None) for file in glob.glob("*.csv")),axis=0, ignore_index=True)

# header = None is very importnat here

In [2]:
# ALTERNATIVE CODE (FROM QASIM)
# import glob

# # Using glob to concatinate all the csv files
# files = glob.glob("*.csv")
# dfs = [pd.read_csv(f, header=None, sep=",") for f in files]
# data = pd.concat(dfs,ignore_index=True)
# data

In [8]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,20471,2,Location 1,44,372.50,1.02250,0.043636,-0.139120,Antenna A,-62.5,0.56604,freq_2,3
1,25269,Male,Location 1,46,195.13,0.71760,0.790040,0.134560,Antenna B,-56.5,5.40570,922.25,2
2,55864,F,Facility B,2,1520.30,0.35411,0.158470,-1.028600,Antenna C,-61.0,5.58680,920.75,lying
3,3045,F,Location 1,9,3.25,0.61207,0.858940,0.111750,Antenna C,-59.5,4.18160,freq_11,1
4,56544,Female,Facility B,2,1690.10,0.40101,0.078086,-0.994340,Antenna 3,-61.0,3.87790,922.75,label 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40564,34523,1,Location 1,49,251.05,1.22180,0.089569,-0.082102,Antenna C,-55.5,5.80150,B1,3
40565,72217,2,2,21,164.25,1.17490,-0.105650,0.009122,Antenna 3,-61.0,0.30986,F1,label 3
40566,59634,Female,Facility B,5,381.75,0.30721,0.457030,-0.925930,Antenna 3,-62.5,1.41430,freq_1,3
40567,22106,2,Location 1,45,132.35,0.29548,1.008200,0.009122,antenna 1,-59.0,0.84983,C1,sit on bed
40568,56237,Female,Location 2,2,1605.10,0.29548,0.169950,-1.028600,Antenna 3,-60.0,3.35170,D2,lying

# 7- Name the columns as -> \['id', 'gender', 'location', 'person', 'time', 'g_frontal', 'g_vertical',  'antenna', 'rssi', 'phase', 'label'\]

In [12]:
df.columns = ['id', 'gender', 'location', 'person', 'time', 'g_frontal', 'g_vertical', 'g_lateral', 'antenna', 'rssi', 'phase', 'freq', 'label']
df

,id,gender,location,person,time,g_frontal,g_vertical,g_lateral,antenna,rssi,phase,freq,label
0,20471,2,Location 1,44,372.50,1.02250,0.043636,-0.139120,Antenna A,-62.5,0.56604,freq_2,3
1,25269,Male,Location 1,46,195.13,0.71760,0.790040,0.134560,Antenna B,-56.5,5.40570,922.25,2
2,55864,F,Facility B,2,1520.30,0.35411,0.158470,-1.028600,Antenna C,-61.0,5.58680,920.75,lying
3,3045,F,Location 1,9,3.25,0.61207,0.858940,0.111750,Antenna C,-59.5,4.18160,freq_11,1
4,56544,Female,Facility B,2,1690.10,0.40101,0.078086,-0.994340,Antenna 3,-61.0,3.87790,922.75,label 3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40564,34523,1,Location 1,49,251.05,1.22180,0.089569,-0.082102,Antenna C,-55.5,5.80150,B1,3
40565,72217,2,2,21,164.25,1.17490,-0.105650,0.009122,Antenna 3,-61.0,0.30986,F1,label 3
40566,59634,Female,Facility B,5,381.75,0.30721,0.457030,-0.925930,Antenna 3,-62.5,1.41430,freq_1,3
40567,22106,2,Location 1,45,132.35,0.29548,1.008200,0.009122,antenna 1,-59.0,0.84983,C1,sit on bed
40568,56237,Female,Location 2,2,1605.10,0.29548,0.169950,-1.028600,Antenna 3,-60.0,3.35170,D2,lying

# 2 - Encode Male for 1, female for 2. \[Gender column\]

In [16]:
df['gender'].value_counts()

F         7916
1         7915
Female    7856
Male      5672
M         5608
2         5602
Name: gender, dtype: int64

In [42]:
df['gender'].replace(to_replace=['Male','M'], value="1", inplace=True)
df['gender'].replace(to_replace=['Female','F'], value="2", inplace=True)
df['gender'].value_counts()

2    21374
1    19195
Name: gender, dtype: int64

# 3 - Encode 1,2 for Location 1, Location 2, or Facility A, Facility B \[Location column\]

In [43]:
df['location'].value_counts()

1    28375
2    12194
Name: location, dtype: int64

In [44]:
df['location'].replace(to_replace=['Location 1','Facility A'], value="1", inplace=True)
df['location'].replace(to_replace=['Location 2','Facility B'], value="2", inplace=True)
df['location'].value_counts()

1    28375
2    12194
Name: location, dtype: int64

# 4 - Encode 1,2,3,4 for Antenna column as well.

In [45]:
df['antenna'].value_counts()

Antenna 3    4506
3            4496
Antenna C    4436
Antenna A    4012
1            4007
antenna 1    3989
Antenna D    2578
Antenna 4    2574
4            2535
2            2512
Antenna 2    2481
Antenna B    2443
Name: antenna, dtype: int64

In [47]:
df['antenna'].replace(to_replace=['Antenna A','Antenna 1', 'antenna 1'], value="1", inplace=True)
df['antenna'].replace(to_replace=['Antenna B','Antenna 2'], value="2", inplace=True)
df['antenna'].replace(to_replace=['Antenna C','Antenna 3'], value="3", inplace=True)
df['antenna'].replace(to_replace=['Antenna D','Antenna 4'], value="4", inplace=True)
df['antenna'].value_counts()

3    13438
1    12008
4     7687
2     7436
Name: antenna, dtype: int64

# 5 - Look for missing values, deal with missing values if any.

In [48]:
df.isna().sum()

id            0
gender        0
location      0
person        0
time          0
g_frontal     0
g_vertical    0
g_lateral     0
antenna       0
rssi          0
phase         0
freq          0
label         0
dtype: int64

In [ ]:
# no NaN

# 6 - Look for duplicates and drop them

In [51]:
df.loc[df.duplicated(keep=False),:]

Empty DataFrame
Columns: [id, gender, location, person, time, g_frontal, g_vertical, g_lateral, antenna, rssi, phase, freq, label]
Index: []

In [52]:
#no duplicates

# 7- Name the columns as -> \['id', 'gender', 'location', 'person', 'time', 'g_frontal', 'g_vertical', 'g_lateral', 'antenna', 'rssi', 'phase', 'label'\]

In [ ]:
# done 1st