# Exercise 2 (Python Basics)
    Dated: April 2, 2020

# Question 1:
    Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
    between 2000 and 3200 (both included).
    The numbers obtained should be printed in a comma-separated sequence on a single line.

### Hint: 
    Consider use range(#begin, #end) method

In [3]:
# Don't use this cell so you may always have a look at the output

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

# Question 2:
    Write a program which can compute the factorial of a given numbers.
    The results should be printed in a comma-separated sequence on a single line.
    
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    40320

In [6]:
factorial(8)

40320

In [11]:
# Sample output

40320

# Question 3:
    With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [17]:
# Sample output

Enter the limit: 8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 4:

    Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
    
    Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['1', '2', '3', '4', '5', '6']
    ('1', '2', '3', '4', '5', '6')

    Hints:
    In case of input data being supplied to the question, it should be assumed to be a console input.
    tuple() method can convert list to tuple

In [20]:
# Sample output

Enter comma separated values : 1,2,3,4,5,6
['1', '2', '3', '4', '5', '6']
('1', '2', '3', '4', '5', '6')

# Question 5:
    
    Write a program to calculate Body Mass Index (BMI).
    
    Note: Take input from console for value of weight and height, and pass it in the Calculate_BMI function, which will return the BMI. -The function should not print the value, it should return it only.-
    
    Use units of weight (kg) and height (cm)
    
    Formula of BMI: 
            [weight (kg) / height (cm) / height (cm)] x 10,000
            
    Sample input:
            Enter weight in KG : 16.9
            Enter height in CM : 105.4
            
    Sample output:
            15.2

In [53]:
# Sample output

15.212671345088195