# QUERIES - 06May20

##### Would like to better understand the use of mask. Examples below

In [124]:
import pandas as pd

numbers = {'set_of_numbers': [1,2,3,4,5,6,7,8,9,10,0,0]}
df = pd.DataFrame(numbers,columns=['set_of_numbers'])

df.mask(df['set_of_numbers'] == 0, 99999, inplace=True)
print(df)

    set_of_numbers
0                1
1                2
2                3
3                4
4                5
5                6
6                7
7                8
8                9
9               10
10           99999
11           99999

In [121]:
sl = pd.DataFrame({'a':[1, 0, 3], 'b':[0, 8, 9], 'c':[2, 0, 4],})
display(sl)

m = (sl != 0)
sl = sl.where(m, other='blah')
sl

   a  b  c
0  1  0  2
1  0  8  0
2  3  9  4

      a     b     c
0     1  blah     2
1  blah     8  blah
2     3     9     4

##### Woudl like to discuss setting the value for rows matching condition

In [60]:
df = pd.DataFrame([[1.4, 8], [1.2, 5], [0.3, 10]],
     index=['China', 'India', 'USA'],
     columns=['Population', 'Economy'])

# df['Population']['India'] = 10
df.at['India', 'Population'] = 11
df

       Population  Economy
China         1.4        8
India        11.0        5
USA           0.3       10

In [62]:
# Set value for rows matching condition
df.loc[df['Population'] < 1] = 0        # stumbled upon this - does not work for me - wondering what is &lt
df

       Population  Economy
China         1.4        8
India        11.0        5
USA           0.0        0

##### How would you do the same as this using .loc?

In [73]:
import pandas as pd
import random 
import numpy as np

np.random.seed(101)
a = pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

print(a[a['W']>0]['Y'])
a.loc[a['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [71]:
a.loc[(a['W'] > 0),'Y'] = 'AAA' 
a
# Where a['W'] > 0 in the 'Y' column, replace it with 'AAA'

          W         X         Y         Z
A  2.706850  0.628133       AAA  0.503826
B  0.651118 -0.319318       AAA  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872       AAA  0.955057
E  0.190794  1.978757       AAA  0.683509

##### Where is this character on the keyboard?   |

##### Selecting Several columns issue

In [139]:
# Multiple times, I have encountered the issue of selcting several columns at once
# I would have thought that this would work:
    
np.random.seed(101)
a = pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

# a.loc[(a[['W','Y']] < 0),a[['W','Y']]] = 'AAA' 
# print(a)

"""
b = a[a[['W','Y']] > 0 and a[['W','Y']] = 'False']
b

# We were doing this before, the reason why we were getting FALSE in 'X' and 'Y' is because we
were printing the mask. 
# b is the mask here, we have to fit the mask as well.
"""

# Method that works
a.mask(a[['W','Y']] < 0, 'False', inplace=True)
a

          W         X         Y         Z
A   2.70685  0.628133  0.907969  0.503826
B  0.651118 -0.319318     False  0.605965
C     False  0.740122  0.528813 -0.589001
D  0.188695 -0.758872     False  0.955057
E  0.190794  1.978757   2.60597  0.683509

##### loc isssue

In [134]:
a = pd.DataFrame([[1.0,5.0,1],[2,np.NaN,2],[np.NaN,np.NaN,3]], columns = ['W','Y','Z'])
# I though that this would work - but it does not

# You need to pass two arguments to loc - row and column. So in your case it will be:
a['new'] = a.loc[:, 'W'] + a.loc[:, 'Y']
a

     W    Y  Z  new
0  1.0  5.0  1  6.0
1  2.0  NaN  2  NaN
2  NaN  NaN  3  NaN

##### How can I select several rows?

In [106]:
a = pd.DataFrame([[1.0,5.0,1],[2,np.NaN,2],[np.NaN,np.NaN,3]], columns = ['A','B','C'])

# this works very well
b = a[['A','C']]
b.iloc[[0,1]]

     A  C
0  1.0  1
1  2.0  2

In [25]:
#this does not
c = a[[0,2]]

KeyError: "None of [Int64Index([0, 2], dtype='int64')] are in the [columns]"

##### Selection issue

In [108]:
a = pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

# I do not understand the logic here
# a[:2][:2]
a

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [118]:
a[:2][['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

##### Discussion

In [119]:
#I am really surprised that this works:
a = pd.DataFrame(np.random.randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])
a > 0

       W      X      Y      Z
A  False   True  False   True
B   True  False  False   True
C   True  False  False  False
D   True  False   True   True
E  False   True  False   True