# Queries - 08may20

##### Why is the output visually different for those?

In [1]:
import pandas as pd
import numpy as np

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Year')
grouped['Points'].agg(np.mean)

Year
2014    795.25
2015    769.50
2016    725.00
2017    739.00
Name: Points, dtype: float64

In [2]:
grouped = df.groupby('Team')
grouped.agg(np.size)

        Rank  Year  Points
Team
Devils     2     2       2
Kings      3     3       3
Riders     4     4       4
Royals     2     2       2
kings      1     1       1

##### When dealing with indexes that have no label, should we set_name those indexes ?

In [ ]:
The issue that I had when merging 2 df with no index label,
to make the merge formula work, i had to add ",left_index=True, right_index=True"

df8 = pd.merge(dfk, df1[['C','D']],left_index=True, right_index=True)

##### If in merge, I use 'left_index', is it a mandatory requirement to have 'right_index' as well at the same time?

##### I feel I do not understand what is going on here

In [4]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [5, 6, 7, 8]})

df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

##### Questions from previous session

In [ ]:
#Question 1
From what i understand, loc is not a good way of dealing and mask is a preferred method
    a.mask(a[['W','Y']] < 0, 'False', inplace=True)

In [3]:
# Question 2
a['new'] = a.loc[:, 'W'] + a.loc[:, 'Y']

- this is a bit counterintuitive becasue most of the time
- when using loc, there is no need to pass the [row,column] structure,
- but just using the label of the column is enough

In [ ]:
# Question 3

In [ ]:
What is the difference between .where and .mask?
I looked at the syntax and parameters, they look very similar.
Which one woulc be favoured over the over one?