# K - Means Clustering

### Context
k-means is an unsupervised machine learning algorithm used to find groups of observations (clusters) that share similar characteristics. What is the meaning of unsupervised learning? It means that the observations given in the data set are unlabeled, there is no outcome to be predicted. We are going to use a Wine data set to cluster different types of wines. This data set contains the results of a chemical analysis of wines grown in a specific area of Italy.

### About Dataset

1. Relevant Information:

   -- This data is the results of a chemical analysis of
      wines grown in the same region in Italy but derived from three
      different cultivars.
      The analysis determined the quantities of 13 constituents
      found in each of the three types of wines. 
### Attributes

 	1) Alcohol
    
 	2) Malic acid
 	
    3) Ash
	
    4) Alcalinity of ash  
 	
    5) Magnesium
	
    6) Total phenols
 	
    7) Flavanoids
 	
    8) Nonflavanoid phenols
 	
    9) Proanthocyanins
	
    10)Color intensity
 	
    11)Hue
 	
    12)OD280/OD315 of diluted wines
 	
    13)Proline            

### 2. Number of Instances
    class 1 59
    class 2 71
    class 3 48

### 3. Number of Attributes 
	13

	NOTE: 1st attribute is class identifier (1-3)

### 4. Missing Attribute Values:

	None

### 5. Class Distribution: number of instances per class

    class 1 59
	class 2 71
	class 3 48

___
# Your Job 
___

***Things to do***
- Perform the data pre-processing.
- Perform EDA
- Fit K-Means Clustering algorithm using a random value of K
- Fit and evaluate your model
- Determine the optimal value of K in K-Means Clustering
- Fit the model with the new value of K
 
***What will be new***
- You will learn the K-Means clustering algorithm.
- How to determine the optimal value of K in K-Means Clustering
 
***What will be tricky***
- Determining the optimal value of K in K-Means Clustering might be tricky, what you can do is, you can use elbow method. You can find a [tutorial on elbow method here.](https://www.geeksforgeeks.org/ml-determine-the-optimal-value-of-k-in-k-means-clustering/)


> Note: No need to standardize.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('wine.csv')

In [3]:
df.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450