In [ ]:
https://www.w3resource.com/python-exercises/pandas/index-data-series.php

1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [4]:
import pandas as pd
Ser = pd.Series([1,2,3,4], index = ['a','b','c','d'])
Ser

a    1
b    2
c    3
d    4
dtype: int64

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [5]:
Ser.tolist()

[1, 2, 3, 4]

3. Write a Python program to add, subtract, multiple and divide two Pandas Series. Go to the editor 
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [7]:
Ser1 = pd.Series([2, 4, 6, 8, 10])
Ser2 = pd.Series([1, 3, 5, 7, 9])

Ser1.add(Ser2)

0     3
1     7
2    11
3    15
4    19
dtype: int64

5. Write a Python program to convert a dictionary to a Pandas series. Go to the editor 
Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [10]:
a = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Ser3 = pd.Series(a)
Ser3

a    100
b    200
c    300
d    400
e    800
dtype: int64

7. Write a Python program to change the data type of given a column or a Series. Go to the editor 
Sample Series: 
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object

Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [35]:
import pandas as pd
b = pd.Series(['200','400','python','300.12','100'])
c = pd.to_numeric(b, errors='coerce')
c

0    200.00
1    400.00
2       NaN
3    300.12
4    100.00
dtype: float64

11. Write a Pandas program to sort a given Series (use series above: b)

In [37]:
d = b.sort_values()
d

4       100
0       200
3    300.12
1       400
2    python
dtype: object